<div data-role="header">
  <h1>Listing entries</h1>
  <%= link_to 'Add', new_entry_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>


<div data-role="content" data-content-theme="a">
  <ul data-role="listview">
<% @entries.each do |entry| %>
    <li><%= link_to entry.entrytime, edit_entry_path(entry) %></li>
  </tr>
<% end %>
  </ul>
</div>



<%= link_to 'New Entry', new_entry_path %>
